/* A Free Design by Bryant Smith (bryantsmith.com) */

body
{
  background: $ffffff;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
padding:0;
margin:0;
}

#mainSiteArea
{
  margin: 0 auto 0 auto; 
  display: table; 
  height: 100%;  
  position: relative; 
  overflow: hidden; 
  width: 752px;
  background-image:url(background.png);
  background-repeat:repeat-y;
}

#header
{
background-image:url(header.png);
background-repeat:no-repeat;
width:752px;
height:126px;
}

.title
{
position:relative;
left:30px;
top:28px;
text-align:left;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:23px;
font-weight:bold;
color:#1D4578;
}

.subText
{
position:relative;
left:62px;
top:30px;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#8996A5;
}

#menu
{
position:relative;
top:49px;
left:10px;
width:752px;
height:33px;

}
.menuLink
{
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#EFF3F8;
width: 145px;
float:left;
}

.menuLink:hover
{
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#A9BFDA;
width: 145px;
float:left;
}

a, a:visited
{
color:#3F6B8F;	
}

a:hover
{
color:#00F;	
	
}

.menuLink a, .menuLink a:visited
{
text-decoration:none;
color:#F1F3F8;
}

.menuLink a:hover
{
text-decoration:underline;
color:#B6BFDA;
}


#contentArea
{
width:672px;
padding-left:40px;
padding-right:40px;
}

#footer
{
background-image:url(footer.png);
background-repeat:no-repeat;
width:752px;
height:33px;
text-align:center;
font-size:10px;
color:#B9C0D9;
padding-top:17px;
}

#footer a
{
font-size:12px;
color:#B9C0D9;
}


.articleTitle
{
text-align:left;
padding-top:10px;
padding-bottom:10px;
color: #5C8ABC;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
font-weight:bold;
}

.articleContent
{
position:relative;
color:#101214;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
line-height:27px;

}

/* A Free Design by Bryant Smith (bryantsmith.com) */

html, body {
text-align: center;
}
p {text-align: left;}